* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Căn giữa toàn bộ màn hình */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

/* Container chính */
.login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
    padding: 30px;
    max-width: 1200px;
    margin: auto;

}

/* Illustration */
.illustration-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-wrapper img {
    max-width: 576px;
    height: auto;
}

/* Form */
.form-section {
    flex: 1;
    max-width: 400px;
}

/* Social */
.social-signin {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: #0d6efd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/* Divider */
.divider {
    margin-bottom: 20px;
    font-weight: bold;
    color: #666;
}

/* Input */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

.input-group label {
    display: block;
    font-size: 13px;
    color: #555;
    margin-top: 5px;
}

/* Button */
.login-btn {
    width: 120px;
    padding: 12px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.login-btn:hover {
    background-color: #0b5ed7;
}

/* Register */
.register-text {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

.register-text a {
    color: #dc3545;
    text-decoration: none;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #0d6efd;
    color: white;
    padding: 15px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}